<ion-header>
  <ion-navbar>
    <ion-title>Mashki Tosha</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="filterArgs" #searchBarModel></ion-searchbar>
  <ion-list>
    <span *ngFor="let item of jamaats | async">
      <ion-item-divider color="light" *ngIf="item.header" color="primary">
        {{item.name}}
        <ion-icon name="cafe" isActive="true" *ngIf="item.timing.breakfast" item-end></ion-icon>
        <ion-icon name="sunny" isActive="true" *ngIf="item.timing.lunch" item-end></ion-icon>
        <ion-icon name="moon" isActive="true" *ngIf="item.timing.dinner" item-end></ion-icon>
      </ion-item-divider>
      <ion-item *ngIf="item.content">
        <ion-avatar item-start>
          <img src="assets/imgs/no-pic.jpg">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.phone}}</p>
      </ion-item>
    </span>
  </ion-list>
</ion-content>